:root{
  --primary-color:#dadada;
  --font-size: 1em;
  --primary-font-color:#181818;
  --focus-bd-color:#03cf5d;
  --focus-bg-color:#e9f0fd;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-size: var(--font-size);
  color:var(--primary-font-color);
}
.banner{
  margin-top: 12.5rem;
}

.banner_inner{
  display: flex;
  justify-content: center;
}

.login{
  margin-top: 3.125rem;
}
.login-form{
  margin: 0 1.25rem;
  width: calc(100% - 2.5rem);
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
fieldset{
  margin: 0 auto;
  width: 100%;
}
.login_input_group{
  width: 100%;
  .id_input{
    margin-bottom: 0.625rem;
  }
}

.form_input{
  display: flex;
  flex-flow: row nowrap;
  input{
    height: 45px;
    font-size:0.875rem ;
    border: 1px solid var(--primary-color);
    width: 100%;
    padding: 0 1.25rem;    
  }
  input:focus{
    background:var(--focus-bg-color);
    outline: 1px solid var(--focus-bd-color)
  }
}

.login_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  width: 100%;
  font-size: 1rem;
  height: 45px;
  background-color: var(--focus-bd-color);
  color: #fff;
  order: 2;
}

.member-sign{
  margin-top: 0.625rem;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  order: 1;

  .stay_logged_in {
    position: relative;
    
    label{
      padding-left: 1.8125rem;
    }
    input{
      position: absolute;
      
      width:24px;
      height: 24px;
      appearance: none;
      background-image: url(./icons/unchecked.svg);    
    }
    input:checked{
      background-image: url(./icons/checked.svg);
    }
  } 
    
  .ip_security{
    display: none;
  }

}

@media (min-width: 768px){

  

  fieldset{
    min-width: 500px;
  }
  .login-form{
    
    max-width: 500px;
    margin: 0 auto; 
  }
  .member-sign{ 
    width: 100%;
    justify-content: space-between;
    
    .ip_security{
      display: flex;
      align-items: center;
      gap: 3px;
      cursor: pointer;
      a{
        text-decoration-line:none;
        color:var(--primary-font-color);
      }
      
      #switch{
        appearance: none; 
      }
      #switch:checked + label::after{
        content: "OFF";
        cursor: pointer;
        color: var(--primary-color);
  
      }
      #switch:not(:checked) + label::after{
        content: "ON";
        cursor: pointer;
        color: var(--focus-bd-color);
      }
    }  
  } 
}

